<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<a href="/location/<%= location.id %>/edit">Back</a>
<body>
    <p> Your LOCATION INFO has been updated!</p>

</body>
</html>
