<h2>Home</h2>

<% if (!currentUser) { %>
    <nav>
    <a href="/auth/signup">Signup</a> |
    <a href="/auth/login">Login</a> | |
    </nav>

<% } else { %>


<p>Hello, <%= currentUser.name %></p>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/location/city/8" onclick="setCity(Seattle)">Seattle</a>
<a href="/location/city/9" onclick="setCity(Tbilisi)">Tbilisi</a>
<a href="/admin/index">Admin</a> | 


<% } %>


