<h2>Home</h2>

<% if (!currentUser) { %>
    <nav>
    <a href="/auth/signup">Signup</a> |
    <a href="/auth/login">Login</a> |
    <a href="/city/newcity">New City</a> |
    <a href="/location/newlocation">New Location</a> 
    </nav>

<% } else { %>
<p>Hello, <%= currentUser.name %></p>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/city/newcity">New City</a>
<a href="/location/newlocation">New Location</a>
<% } %>

