<form action="/city/newcity" method="POST">
    <input type="text" name="name" placeholder="Please enter city name...">
    <input type="text" name="taglLne" placeholder="Please enter tagline">
    <input type="submit" value="new city">
</form>