<form action="/location/newlocation" method="POST">
    <input type="text" name="name" placeholder="Please enter city name...">
    <input type="text" name="headlineText" placeholder="Please headlinetext...">
    <input type="text" name="coordinates" placeholder="Please enter coordinates...">
    <input type="text" name="headlineurl" placeholder="Please enter url..">
    <input type="text" name="cityId" placeholder="Please enter cityId..">

    <input type="submit" value="new location">
</form>

<form method='POST' action='/location/newlocation' method="PUT">
    <input type="text" name="name" placeholder="Please enter city name...">
    <input type="text" name="headlineText" placeholder="Please headlinetext...">
    <input type="text" name="coordinates" placeholder="Please enter coordinates...">
    <input type="text" name="headlineurl" placeholder="Please enter url..">
    <input type="text" name="cityId" placeholder="Please enter cityId..">
    <input type="text" name="id" placeholder="update the id..">
    <input type="submit" value="update location">
    </form> 