</br>
<button class = 'mapbtn' onclick="window.location.href = '/location/city/8';">Back to feed</button>

<h3>Seattle, Washington</h3>
<div id="map">
</div>

<script >
    //let markerCoords =<% -JSON.stringify(results) %>;

    let markerCoords = [
        [-122.355507, 47.616512],
        [-122.410347, 47.655598],
        [-122.3355, 47.6077]
    ]

</script>

<script src="js/app.js"></script>