</br>
<button class = 'mapbtn' onclick="window.location.href = '/location/city/8';">Back to feed</button>

<h3>Seattle, Washington</h3>
<div id="map">
</div>

<script >
    //let markerCoords =<% -JSON.stringify(results) %>;

    let markerCoords = [
        [-122.331976,47.602331],
        [-122.354963,47.616444],
        [-122.333997,47.601342]
    ]

</script>

<script src="js/app.js"></script>