<h3>Tbilisi, Georgia Republic</h3>
<div id="map">
</div>



<script>
    //let markerCoords =<% -JSON.stringify(results) %>;
    
    let markerCoords = [
        [41.870087, 43.735725]
    ]

</script>

<script src="js/app.js"></script>