<h3>Tbilisi, Georgia Republic</h3>
<div id="map">
</div>



<script>
    //let markerCoords =<% -JSON.stringify(results) %>;
    
    let markerCoords = [
        [41.692345, 44.801130]
    ]

</script>

<script src="js/app.js"></script>