html,body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
  }
  
  main {
    margin: 0 auto;
    padding: 1em 2em;
    width: 70vw;
    height: 90vh;
    background: rgba(255,255,255,0.8);
    color: #111;
  }
  
  #map {
    width: 100%;
    height: 80vh;
  }

  .head {
    border-style: solid;
    background-color: #E63644;
   /* font-family: 'Yellowtail', cursive;*/
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    font-size: 50px;
  }

  .headline {
      height: 60%;
      width: 60%;

  }

  #feed {
    height: 100%;
    width: 100%; 

  }

  #logo {
    height: 255;
    width: 83; 

  }

  .mapbtn {
  background-color:#E63644;
  border: none;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #E63644;
  width: 255px;
  height: 66px;
  display: flex;
        justify-content: center;
  }

  .mapbtn2 {
    background-color: white;
    border: none;
    color: #E63644;
    border-radius: 10px;
    border-style: solid;
    border-color: #E63644;
    width: 255px;
    height: 66px;
    display: flex;
        justify-content: center;
        padding:       10px 100px;
  }

  .home {
    background-image: url("/img/trip_tips_hero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /*nav { display: flex;
        justify-content: center;

  }*/

  .centered1 {  display: flex;
    justify-content: center;

  }
  .centered2 {  display: flex;
    justify-content: center;

  }