 <h2>Update city info</h2>

<form method='POST' action='/city/<%= city.id %>/?_method=PUT' >
<label for='tagLine'>Tag Line</label>
<input type='text' name='tagLine' placeholder = 'edit tag line' value='<%= city.tagLine %>' />



<label for='name'>Name</label>
<input type='text' name='cityName' placeholder = 'edit city name' value='<%= city.name %>' />
<input type='submit' value='Update my city'>
</form> 